body {
    background-color: #2A3166;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Bungee Inline';
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  align-items: center;
}

h1, h2 {
  color: white;
  -webkit-text-stroke: 1px #EE7879;
}

h1 {
  font-size: 50px;
  margin: 20px 0 
}

h2 {
  font-size: 36px;
  margin: 30px 0;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 2vmin;
}

div {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  -webkit-text-stroke: 3px #75CDD8;
}

button#reset-button {
  color: #EE7879;
  background-color: white;
  margin: 30px;
}