body {
  background-color: #0f104c;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: Comfortaa, sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  align-items: center;
}

h1, h2 {
  color: white;
  font-weight: lighter;
  text-shadow:
    0 0 1vmin #fff,
    0 0 2vmin #fff,
    0 0 2vmin #B026FF,
    0 0 3vmin #B026FF,
    0 0 3vmin #B026FF,
    0 0 5vmin #B026FF,
    0 0 5vmin #B026FF,
    0 0 5vmin #B026FF;
}

h1 {
  font-size: 10vmin;
  margin: 3vmin 0 0 0;
}

h2 {
  font-size: 5vmin;
  margin: 1vmin 0 3vmin 0;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 4vmin;
}

div {
  border: 0.5vmin solid white;
  border-radius: 3vmin;
  box-shadow: 
    0 0 0.8vmin #fff,
    0 0 1vmin #fff,
    0 0 1vmin #fff,
    inset 0 0 1vmin #fff;
  font-size: 8vmin;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div:hover {
  background: white;
  cursor: pointer;
}

#reset-button {
  color: #ffffff;
  font-family: Comfortaa, sans-serif;
  font-weight: lighter;
  text-shadow: 
    0 0 0.5vmin #fff,
    0 0 1vmin #fff,
    0 0 1vmin #FF10F0,
    0 0 1vmin #FF10F0,
    0 0 2vmin #FF10F0,
    0 0 2vmin #FF10F0;
  font-size: 5vmin;
  background-color: #0f104c;
  border: 0.5vmin white solid;
  border-radius: 5vmin;
  box-shadow: 
    0 0 0.8vmin #fff,
    0 0 0.5vmin #fff,
    0 0 0.5vmin #fff,
    inset 0 0 0.5vmin #fff;
  padding: 0.5vmin 5vmin;
  margin: 5vmin;
  cursor: pointer;
}

#reset-button:hover {
  background-color: white;
  padding: 0.5vmin 4vmin;
}

#reset-button:hover:after {
  content: '\00bb';
}

.sqr.player1 {
  color: white;
  text-shadow: 
    0 0 1vmin #fff,
    0 0 2vmin #fff,
    0 0 2vmin #01FFFF,
    0 0 3vmin #01FFFF,
    0 0 3vmin #01FFFF,
    0 0 3vmin #01FFFF;
  }
  
  div.player2 {
    color: white;
    text-shadow: 
      0 0 1vmin #fff,
      0 0 2vmin #fff,
      0 0 2vmin #FF10F0,
      0 0 3vmin #FF10F0,
      0 0 3vmin #FF10F0,
      0 0 3vmin #FF10F0;
    
}